@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind */
/* poster, interaction 소제목들 */
.sectionTitle {
    @apply font-bold font-sanserif w-fit p-2;    
    background-image: url('/scribble.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .3s ease-in-out;
}

/* 스크롤바 숨기기 */
.submenu{
    -ms-overflow-style: none;
 }
 .submenu::-webkit-scrollbar{
   display:none;
 }

body {
   @apply overflow-x-hidden font-sanserif;
   -ms-overflow-style: none;
 }

.time {
  @apply text-2xl font-sanserif;
}

.time-text {
  @apply  uppercase opacity-50
}