@tailwind base;
@tailwind components;
@tailwind utilities;


/* tailwind */
/* poster, interaction 소제목들 */
.sectionTitle {
    @apply font-bold font-sanserif w-fit p-2;    
    background-image: url('/scribble.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .3s ease-in-out;
}