/* Chrome, Safari, Opera */
.picker-container::-webkit-scrollbar {
    width: 0.1rem;
    display: none;
}

/* Firefox */
.picker-container {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.submenu-scroll-container{
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3);
}
  .submenu-scroll-container::-webkit-scrollbar {
    width: 8px;
  }

  .submenu-scroll-container::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
  }

  .submenu-scroll-container::-webkit-scrollbar-track {
      background-color: transparent;
  }
